.btn{
  width: 120px;
  height: 40px;
}
h1{
  font-size: 25px;
  background-image: linear-gradient(to right, #000, blue);
  
  background-clip: text;
  color: transparent;
}
.cont{
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 10px 10px 10px 10px #e8f0fc;
  padding: 30px;
}
html, body {
  height: 100%;
}
